<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
   <h2>LOGIN</h2>
 <form action = "/login" method = "post">
         <label for = "name">UserName</label><br>
         <input type = "text" name = "uname" placeholder = "UserName" /><br>
         <label for = "email">Password</label><br>
         <input type = "text" name = "pswd" placeholder = "Password" /><br>
         <input type = "submit" value = "Submit" />
         {% if msg %} 
         <div>{{msg}}</div>
         {% endif %}
      </form>
</body>
</html>